<div class="card card-single">
  <p>ID: <%= @order['id'] %></p>
  <p>USER ID: <%= @order['user_id'] %></p>
  <p>PRODUCT ID: <%= @order['product_id'] %></p>
  <p>QUANTITY: <%= @order['quantity'] %></p>
  <p>SUBTOTAL: <%= @order['subtotal'] %></p>
  <p>TAX: <%= @order['tax'] %></p>
  <p>TOTAL: <%= @order['total'] %></p>
  <p>CREATED: <%= @order['created_at'] %></p>
  <p>UPDATED: <%= @order['updated_at'] %></p>

</div>




