<div class="card card-single">
  <p>Order # <%= @order['id'] %></p>
  <p>Name: <%= @order['user']['name'].capitalize %></p>
  <p>Email: <%= @order['user']['email'] %></p>
  <p>Subtotal: <%= @order['subtotal'] %></p>
  <p>Tax: <%= @order['tax'] %></p>
  <p>Total: <%= @order['total'] %></p>  
  <hr>

  <p>You ordered: <% @order %></p>

    <% index = 0 %>
    <% @order['products'].length.times do %>
      
      <p>
        <%= @order['carted_products'][index]['quantity'] %> 
        <%= @order['products'][index]['name'] %> 
        for 
        <%= number_to_currency(@order['products'][index]['price']) %>
        each.
      </p>
      <% index = index + 1 %>
    <% end %>


</div>




