<div class="card card-single">
  <p>ID: <%= @order['id'] %></p>
  <p>PRODUCT NAME: <%= @order['product_name'] %></p>
  <p>PRODUCT ID: <%= @order['product_id'] %></p>
  <img src="<%= @order['product_image'] %>">
  <p>QUANTITY: <%= @order['quantity'] %></p>
  <p>PRICE:  <%= @order['product_price'] %></p>

  <p>SUBTOTAL: <%= @order['subtotal'] %></p>
  <p>TAX: <%= @order['tax'] %></p>
  <p>TOTAL: <%= @order['total'] %></p>
  <p>ORDER DATE: <%= @order['created_at'] %></p>
  <p>ORDERED BY: <%= @order['order_email'] %></p>
  <p>USER ID: <%= @order['user_id'] %></p>
  

</div>




