<div class="form-box">
<h1 class="center">Edit coffee</h1>
<%= form_tag "/client/products/#{@product1['id']}", method: :patch do %>
  <div class="form">  
    <div>
      Name:<input class="form-item" type="text" name="input_name" id="input_name" value="<%= @product1['name'] %>">
    </div>
    <div>
      Description:<input class="form-item" type="textbox" name="input_description" id="input_description" value="<%= @product1['description'] %>">
    </div>
    <div>
      Price:<input class="form-item" type="number" name="input_price" id="input_price" value="<%= @product1['price'] %>">
    </div>
    <!-- <div>
      Image url:<input class="form-item" type="text" name="input_image_url" id="input_image_url" value="<%= @product1['image_url'] %>">
    </div> -->
  </div>
  <div class="center">
    <input class="button button-edit" type="submit" name="submit" value="Save">  
  </div><!-- </form> -->
<% end %>

<%= form_tag "/client/products/#{@product1['id']}", method: :delete do %>
  <div class="center">
    <input class="button button-danger" type="submit" name="submit" value="Delete">  
  </div>
<!-- </form> -->
<% end %>
</div>