<h1>Pick a delicious coffee</h1>

<% @products.each do |product|%>
  
  <p>id: <%= product['id'] %></p>
  <p>name: <a href="/client/products/<%=product['id']%>"> <%= product['name'] %></a></p>
  <p>description: <%= product['description'] %></p>
  <p>price: <%= product['price'] %></p>
  <p>image url: <%= product['image_url'] %></p>
  <hr>

<% end %>