<h1 class='heading-wrapper'>Look at all of these delicious coffees!</h1>

<div class="center">
  <%= form_tag '/client/products/', method: :get do %>
    <div> 
      <input class='form-item' type="text" name="search" placeholder="Type here to search">
    </div>
    <div>
      <label class="white">Sort by:</label>
      <input type="radio" name="sort_by" value="id"><span class="white"> Id</span>
      <input type="radio" name="sort_by" value="price"><span class="white"> Price</span>

    <div>
      <input class="button button-home" type="submit" value="Search/Sort">
    </div>
  <% end %>
</div>

<div class="center">
  <% @products.each do |product|%>
  <div class='card'>
    <p  id='<%= product['id'] %>'>id: <%= product['id'] %></p>
    <p>name: <%= product['name'] %></p>
    <p>description: <%= product['description'] %></p>
    
    <p>
      <% if product['formatted']['discounted'] %>
        <p class="discount">Price: $<%= product['price'] %></p>
        <p class="discount">Discount Item!!!</p>
      <% else %>
        <p class="everyday">Price: $<%= product['price'] %></p>
        <p class="everyday">Everday Price</p>
      <% end %>
    </p>

    <p><% product['images'].each do |image| %>   
      <img src="<%= image['url'] %>">

    <% end %>
    </p>

    
    <a href="http://localhost:3001/client/products/<%= product['id']%>"><button class="button button-home">View Product</button></a>
    </div>
 
<% end %>
</div>
