<h1 class='heading-wrapper'>Look at all of these delicious coffees!</h1>

<div class="center">
  <%= form_tag '/client/products/', method: :get do %>
    <div> 
      <input class='form-item' type="text" name="search">
    </div>
    <div>
      <input class="button button-home" type="submit" value="Search by name">
    </div>
  <% end %>
</div>



<% @products.each do |product|%>
  <div class='card'>
    <p  id='<%= product['id'] %>'>id: <%= product['id'] %></p>
    <p>name: <%= product['name'] %></p>
    <p>description: <%= product['description'] %></p>
    
    <p>
      <% if product['formatted']['discounted'] %>
        <p class="discount">Price: $<%= product['price'] %></p>
        <p class="discount">Discount Item!!!</p>
      <% else %>
        <p class="everyday">Price: $<%= product['price'] %></p>
        <p class="everyday">Everday Price</p>
      <% end %>
    </p>
    <p>image url: <%= product['image_url'] %></p>
    
    <a href="http://localhost:3001/client/products/<%= product['id']%>"><button class="button button-home">View Product</button></a>
    </div>
 
<% end %>