<h1 class='heading-wrapper'>Look at all of these delicious coffees!</h1>

<% @products.each do |product|%>
  <div class='card'>
    <p  id='<%= product['id'] %>'>id: <%= product['id'] %></p>
    <p>name: <%= product['name'] %></p>
    <p>description: <%= product['description'] %></p>
    <p>price: <%= product['price'] %></p>
    <p>image url: <%= product['image_url'] %></p>
    
    <a href="http://localhost:3001/client/products/<%= product['id']%>"><button class="button button-home">View Product</button></a>
    </div>
 
<% end %>