<div class="card card-single">
  <p>ID: <%= @product1['id'] %></p>

  <p>Name: <%= @product1['name'] %></p>

  <p>Description: <%= @product1['description'] %></p>

  <p>Categories: "
   <% @product1['categories'].each do |category| %>
    <%= category['name'] %>, 
   <% end %>
 "</p>



  <% if @product1['supplier'] %>
    <p>Supplier: <%= @product1['supplier']['name'] %></p>
    <% end %>
  <% if @product1['formatted']['discounted'] %>
    <p class="discount">Price: <%= @product1['price'] %></p>
    <p class="discount">Tax: <%= @product1['formatted']['tax'] %></p>
    <p class="discount">Total: <%= @product1['formatted']['total'] %></p>
    <p class="discount">Discount Item!!!</p>
  <% else %>
    <p class="everyday">Price: <%= @product1['price'] %></p>
    <p class="everyday">Tax: <%= @product1['formatted']['tax'] %></p>
    <p class="everyday">Total: <%= @product1['formatted']['total'] %></p>
    <p class="everyday">Everday Price</p>
  <% end %>

  <% if @product1['images'] %>
    <p><% @product1['images'].each do |image| %>   
        <img src="<%= image['url'] %>">

      <% end %>
    </p>
  <% end %>
  <a href="http://localhost:3001/client/products/<%= @product1['id'] %>/edit"><button class='button button-edit'>Edit</button></a>

  <div>
    <a href="http://localhost:3001/client/products#<%= @product1['id'] %>"><button class='button button-home'>Return Home</button></a>
  </div>
  <hr>

  <%= form_tag '/client/carted_products/', method: :post do %>
    <div class="form">
      <div hidden>
        product_id: <input class='form-item' type="text" name="input_product_id" id="input_product_id" value="<%= @product1['id'] %>">
      </div>
      <div>
        quantity: <input class='form-item' type="textbox" name="input_quantity" id="input_quantity">
      </div> 
    </div> <!-- form -->

    <div class="center">
      <input class="button button-create" type="submit" name="submit" value="Add to cart">
    </div>
  <% end %>


  <!-- </form> -->

</div>




