<div class="card card-single">
  <p>ID: <%= @product1['id'] %></p>

  <p>Name: <%= @product1['name'] %></p>

  <p>Description: <%= @product1['description'] %></p>

  <p>Categories:</p>
   <%= @product1['categories'] %>




  <% if @product1['supplier'] %>
    <p>Supplier: <%= @product1['supplier']['name'] %></p>
    <% end %>
  <% if @product1['formatted']['discounted'] %>
    <p class="discount">Price: $<%= @product1['price'] %>.00</p>
    <p class="discount">Tax: $<%= @product1['formatted']['tax'] %></p>
    <p class="discount">Total: $<%= @product1['formatted']['total'] %></p>
    <p class="discount">Discount Item!!!</p>
  <% else %>
    <p class="everyday">Price: $<%= @product1['price'] %>.00</p>
    <p class="everyday">Tax: $<%= @product1['formatted']['tax'] %></p>
    <p class="everyday">Total: $<%= @product1['formatted']['total'] %></p>
    <p class="everyday">Everday Price</p>
  <% end %>

  <% if @product1['images'] %>
    <p><% @product1['images'].each do |image| %>   
        <img src="<%= image['url'] %>">

      <% end %>
    </p>
  <% end %>
  <a href="http://localhost:3001/client/products/<%= @product1['id'] %>/edit"><button class='button button-edit'>Edit</button></a>

  <div>
    <a href="http://localhost:3001/client/products#<%= @product1['id'] %>"><button class='button button-home'>Return Home</button></a>
  </div>
</div>




