<h1>Single coffee</h1>

<p>id: <%= @product1['id'] %></p>
<p>name: <%= @product1['name'] %></p>
<p>description: <%= @product1['description'] %></p>
<p>price: <%= @product1['price'] %></p>
<p>image url: <%= @product1['image_url'] %></p>
<a href="http://localhost:3001/client/products#<%= @product1['id'] %>"><button style='padding: 10px; border-radius: 10px; color: white; background-color: dodgerblue; font-size: 14px;'>Return Home</button></a>
<a href="http://localhost:3001/client/products/<%= @product1['id'] %>/edit"><button style='padding: 10px; border-radius: 10px; color: white; background-color: red; font-size: 14px;'>Edit</button></a>
<hr>

