<div class="card">
  <h2>Hello <%= @carted_products[0]['user_name'].capitalize; %>, here are the items in your cart.</h2>
  <% @carted_products.each do |carted_product| %>
    <p>Product: <%= carted_product['product']['name'] %> </p>
    <p>Product_id: <%= carted_product['product_id'] %> </p>
    <p>Price for each: <%= carted_product['product']['price'] %> </p>
    <!-- <p>id: <%= carted_product['id'] %> </p> -->
<!--     <p>User_id: <%= carted_product['user_id'] %> </p> -->
    <p>Quantity: <%= carted_product['quantity'] %> </p>
  <!--   <p>status: <%= carted_product['status'] %> </p> -->
    <hr>
  <% end %>

  <%= form_tag '/client/orders/', method: :post do %>
    <div class="center">
      <input style="width: 250px" class="button button-home" type="submit" name="submit" value="Buy everything in the cart">
    </div>
  <% end %>
</div>
