<div class="card card-single">
  <p>ID: <%= @carted_products['id'] %></p>
  <p>PRODUCT NAME: <%= @carted_products['user_id'] %></p>
  <p>PRODUCT ID: <%= @carted_products['product_id'] %></p>
  <p>QUANTITY: <%= @carted_products['quantity'] %></p>
  <p>STATUS:  <%= @carted_products['status'] %></p>
  <p>ORDER ID: <%= @carted_products['order_id'] %></p>
<!--   <p>ADDED TO CART ON: <%= @carted_products['created_at'] %></p> -->
</div>




