<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>MiniCapstoneClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="topnav">
      <a href="/">Home</a>
      <a href="/client/products/">All coffees</a>
      <a href="/client/products/new">Add a coffee</a>
      <a href="#about">About</a>
      <a href="/signup">Sign Up</a>
      <a href="/client/login">Log In</a>
      <a href="/client/logout" data-method="delete">Log Out</a>
      <a href="/client/carted_products">View Cart</a>
    </nav>
    <nav class="topnav">
      <a href="/client/products/?category=lightblend">Light Blend</a>
      <a href="/client/products/?category=mediumblend">Medium Blend</a>
      <a href="/client/products/?category=darkblend">Dark Blend</a>
      <a href="/client/products/?category=blackasmysoulblend">Black as my Soul Blend</a>
    </nav>
    <% if @jwt %>
      <p class="flash-hash flash-jwt"><%= @jwt %></p>
    <% end %>
    <% flash.each do |key, message| %>
      <% if key != 'success' %>
        <p class="flash-hash flash-danger "><%= message %><p>
      <% else %>
        <p class="flash-hash flash-success"><%= message %><p>
      <% end %>
    <% end %>

    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
