<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstoneClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/client/products/">All coffees</a>
      <a href="/client/products/new">Add a coffee</a>
      <a href="#about">About</a>
      <a href="/signup">Sign Up</a>
    </div>

    <% flash.each do |key, message| %>
      <% if key != 'success' %>
        <p class="flash-hash flash-danger "><%= message %><p>
      <% else %>
        <p class="flash-hash flash-success"><%= message %><p>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
